<main>
  <div class="forms">
    <div class="login">
      <form method="POST" id="login">
        <h3>Login</h3>
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" class="submit" value="Login" />
        <p>Not have an account?
          </br> <a href="/register">Register here</a></p>
      </form>
    </div>
  </div>
</main>