<main>
  <div class="forms">
    <div class="signup">
      <form method="POST" id="signup">
        <h3>Sign up</h3>
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="repeatPassword" placeholder="Repeat Password" />
        <input type="submit" class="submit" value="Sign up" />
        <p>Already have an account?
            </br>
             <a href="/login">Login here</a></p>
      </form>
    </div>
  </div>
</main>