<div class="beehive-card">
  <img
    class="beehive"
    src="/static/images/beehive.png"
    alt="Beehive"
    width="680"
  />
  <h3>{{beehiveName}}</h3>
  <br />
  <a class="action-link" href="/myBeehive/{{_id}}/manage">
    Manage Beehive
  </a>
</div>