<div class="product">
  <div class="product-img">
    <img src="/static/images/honey-jar.png" alt="Honey jar image" />
  </div>
  <div class="product-title">
    <h5>NATURAL HONEY</h5>
  </div>
  <div class="product-button">
    <a href="/ourHoney/details" class="more-info">More Info</a>
  </div>
</div>