<main>
  <section class="about-us">
    <style>
      #site { background: url(/static/images/about-us.png); background-size: 40%
      auto; background-position: center bottom; background-repeat: no-repeat; }
    </style>
    <div class="about-us-section">
      <div class="about-us-title about-us-title-1">
        <h1>WE</h1>
        <h1>ARE</h1>
        <h1>ABOUT</h1>
        <h1>SAVING</h1>
        <h1>THE BEES</h1>
      </div>

      <div class="about-us-text">
        <h4>Welcome to our website!</h4>
        <p>
          We are a family with a mission - to help protect and preserve the
          essential role that bees play in our ecosystem. We are passionate
          about beekeeping and the production of sustainable, local honey. But
          more than that, we are committed to spreading awareness about the
          dangers facing bees and their habitats.
        </p>
        <p>
          As we've learned more about the critical role that bees play in
          pollination and biodiversity, we've become increasingly concerned
          about the threats they face from climate change, habitat loss, and
          pesticide use. That's why we've made it our mission to not only
          support beekeeping and the production of local honey but also to
          educate others about the importance of bees and the risks associated
          with their decline.
        </p>
        <p>
          Through our website and social media channels, we aim to share our
          knowledge and passion for beekeeping with others and inspire them to
          take action to protect these essential pollinators. Join us in our
          mission to protect bees and their habitats. Together, we can make a
          difference and ensure a healthy and sustainable future for ourselves
          and for the bees.
        </p>
      </div>
      <div class="about-us-title about-us-title-2">
        <h1>WE</h1>
        <h1>ARE</h1>
        <h1>ABOUT</h1>
        <h1>CREATING</h1>
        <h1>COMUNITY</h1>
      </div>
    </div>
  </section>
</main>