<main>
  <section class="bees-matter">
    <style>
      #site { background: url(/static/images/bees-matter.png); background-size:
      35% auto; background-position: right -6em; background-repeat: no-repeat; }
    </style>
    <div class="title-section">
      <h1>BEES ARE ESSENTIAL</h1>
    </div>
    <div class="text-section">
      <div class="paragraphs paragraphs-first-row">
        <div class="hex">
          <div class="paragraph">
            <h4>The Importance of Bees:</h4>
            <p>
              Bees are critical pollinators, responsible for pollinating over
              75% of the world's food crops. Without bees, many plants would
              struggle to produce seeds, leading to a decrease in food
              availability and impacting the survival of numerous species.
            </p>
          </div>
        </div>
        <div class="hex">
          <div class="paragraph">
            <h4>Why We Can't Live Without Them:</h4>
            <p>
              Bees are vital for maintaining biodiversity and supporting other
              animals in the food chain. A decline in bees would lead to a
              reduction in plant species, affecting the quality of air we
              breathe, as plants absorb carbon dioxide and produce oxygen.
            </p>
          </div>
        </div>
        <div class="hex">
          <div class="paragraph">
            <h4>Threats to Bees and Biodiversity:</h4>
            <p>
              Pesticides, climate change, and habitat loss pose significant
              threats to bee populations. Pesticides harm bees and other
              pollinators, while climate change disrupts their food sources.
              Habitat destruction limits bees' ability to forage and find
              nesting sites.
            </p>
          </div>
        </div>
      </div>
      <div class="paragraphs paragraphs-second-row">
        <div class="hex">
          <div class="paragraph">
            <h4>Causes of Bee Mortality:</h4>
            <p>
              Factors such as pesticides, habitat loss, and climate change.
              Pesticides weaken bees' immune systems, making them susceptible to
              diseases and parasites. Habitat loss and climate change further
              impact their ability to find food and suitable nesting sites.
            </p>
          </div>
        </div>
        <div class="hex">
          <div class="paragraph">
            <h4>What We Can Do to Stop It:</h4>
            <p>
              We must reduce pesticide use and adopt sustainable farming
              practices. Planting bee-friendly flowers and supporting local
              beekeepers. Supporting organizations focused on bee conservation
              and advocating for bee-friendly policies is crucial for their
              well-being.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>