<div class="honey-details">
  <h3>NATURAL HONEY</h3>
  <div class="content-img">
    <img src="/static/images/honey-jar.png" alt="Honey jar img" />
  </div>
  <div class="content-text">
    <p>
      Introducing our all-natural and pure honey, straight from the hives of our
      local beekeepers! By choosing our honey, you are not only indulging in a
      deliciously sweet treat, but you are also supporting beekeeping and the
      protection of these essential pollinators. Our honey is carefully
      harvested using sustainable and ethical practices, ensuring the bees'
      health and well-being. With each purchase, you are making a positive
      impact on the environment and helping to ensure the continued survival of
      these incredible creatures. Try our honey today and taste the difference
      that pure and natural honey can make!
    </p>
  </div>
  <div class="back-container">
    <a href="/ourHoney" class="back-link">Close</a>
  </div>

</div>