<main>
  <div class="sent-message">
    <p>
      Thank you for reaching out to us! We appreciate your interest and value
      your inquiry. Our team will do our best to respond to your question as
      soon as possible.
    </p>
  </div>
</main>