.about-us-section {
  display: flex;
  justify-content: space-between;
  margin: 5em 2em;
}

.about-us-title {
  display: flex;
  flex-direction: column;
  font-family: "Anton", sans-serif;
  font-size: 2em;
  line-height: 4em;
  animation: sliderReveal 1s ease forwards;
}

.about-us-title-1 {
  text-align: right;
}

.about-us-title-2 {
  text-align: left;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  top: 5.5em;
  width: 35em;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
}

.about-us-text p {
  margin-top: 1em;
  text-indent: 1em;
}
