<main>
  <section class="hero-section">
    <style>
      #site { background: url(/static/images/hero-bee.jpg); background-size: 94%
      auto; background-position: center 2em; background-repeat: no-repeat; }
    </style>
  </section>
</main>